<!--The content below is only a placeholder and can be replaced.-->

<div id="myGrid" class="container">
    <h1>Using agGrid</h1>

    <ag-grid-angular #agGrid style="align: center;width: 1500px; height: 750px;" class="ag-theme-material" [autoGroupColumnDef]="autoGroupColumnDef" [rowData]="rowData" [columnDefs]="columnDefs" rowSelection="multiple" [pagination]="true" [animateRows]="true"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</div>

<div id="chartdiv" style="width: 20%; height: 500px"></div>

<router-outlet></router-outlet>